@model GoodProgrammer.Api.PuppeteerSharp.Models.Header
<header style="font-family: 'Arial'; font-size : 18px; display: flex; justify-content: space-around; padding-left:30px;">
  <h1 style="font-size: 0.8em!important; width: 280px; text-align: center; margin: 5px 0px 0px 10px">@Model.FirmName</h1>
  <span style="font-size: 0.8em!important;">@Model.Date.ToString("yyyy-MM-dd")</span>
</header>